<form class="form-horizontal" role="form" method="post" action="/compendium">

  <div class="form-group">
      <label class="col-sm-4 control-label">Environment</label>
      <div class="col-sm-8">
        <input type="text" name="session[server]" value="app.compendium.com" class="form-control"/>
      </div>
  </div>

  <div class="form-group">
    <div class="col-sm-8 col-sm-offset-4 checkbox">
      <label>
        <input type="checkbox" id="public" name="session[public]" /> Public API Only
      </label>
    </div>
  </div>

  <div class="form-group auth">
    <label class="col-sm-4 control-label">Compendium Username</label>
    <div class="col-sm-8">
      <input type="text" id="f1" name="session[username]" value="" class="form-control"/>
    </div>
  </div>

  <div class="form-group auth">
    <label class="col-sm-4 control-label">Compendium API Key</label>
    <div class="col-sm-8">
      <input type="text" id="f2" name="session[api_key]" value="" class="form-control"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label">"Type of Call"</label>
    <div class="col-sm-8">
      <select name="session[call_type]" class="form-control" id="method">
        <option value="get" selected>Get</option>
        <option class="auth" value="post">Post</option>
        <option class="auth" value="put">Put</option>
        <option class="auth" value="delete">Delete</option>
      </select>
    </div>
  </div>

  <div class="form-group auth body">
    <label class="col-sm-4 control-label">Body</label>
    <div class="col-sm-8">
      <input type="text" name="session[body]" value="" placeholder='{ :post_title => "Content Title", :url_lookup_token => "content-title" }' class="form-control"/>
    </div>
  </div>

  <div class="form-group query">
    <label class="col-sm-4 control-label">Query</label>
    <div class="col-sm-8">
      <input type="text" name="session[query]" value="" placeholder='{ :Count => 20, :Page => 1 }' class="form-control"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label">Uri</label>
    <div class="col-sm-8">
      <input type="text" name="session[api_uri]" value="/api/posts" class="form-control"/>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-8 col-sm-offset-4 checkbox">
      <label>
        <input type="checkbox" id="only_curl" name="session[only_curl]" /> Generate curl command only
      </label>
    </div>
  </div>

  <div>
    <input type="submit" class="btn btn-success btn-lg btn-block" value="Go"/>
  </div>

</form>