<% form_tag url(:sessions, :create), :class=>"login form-horizontal" do %>
  <div class="login-body modal-body">

    <div class="row">

      <div class="col-sm-4">
        <div class="login-logo"> <%= image_tag("padrino_logo.png", :alt => "Padrino's logo") %> </div>
      </div>

      <div class="col-sm-8 input-boxes">
        <div class="form-group">
          <label for="username" class="col-sm-4 control-label">Username</label>
          <div class="col-sm-8"><%= text_field_tag :username, :id => :username, :value => params[:username], :autofocus => true, :class => 'form-control' %></div>
        </div>

        <div class="form-group">
          <label for="password" class="col-sm-4 control-label">Password</label>
          <div class="col-sm-8"><%= password_field_tag :password, :id => :password, :class => 'form-control' %></div>
        </div>

        <fieldset class="login-control-group-last control-group">
          <div class="login-controls controls">
            <label class="login-bypass-label checkbox"><input type="checkbox" name="remember_me" checked>  remember me?</label>
          </div>
        </fieldset>
      </div>

    </div>

  </div>
  <div class="login-footer modal-footer"><input type="submit" value="Sign In" class="btn btn-primary pull-right"></div>
<% end %>