.add-asset {
  margin-top: 15px;
}

.asset-container {
  position: relative;

  .asset-body {
    min-height: 300px;
  }

  .btn-copy {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
    display: none;

    @media (max-width: $grid-float-breakpoint-max) {
      display: block;
      position: relative;
      top: auto;
      right: auto;
      margin-bottom: 15px;
    }
  }

  &:hover {

    .btn-copy {
      display: block;
    }
  }

  /* Essential Clearfix */
  .asset-body:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
  }

  .asset-body-html {
    height: 1px;
    overflow: hidden;
    scroll: none;
  }
}

.btn-back {
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 3px 30px;
}