<div class="modal fade" id="help" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Help Modal</h4>
			</div>
			<div class="modal-body">
				<ul>
					<li>Clicking the Brand or the User Icon reveals more navigational options.</li>
				</ul>
				<div style="height: 20px;"></div>
			</div>
		</div>
	</div>
</div>