<div class="stage">
  <div class="stage-heading">
    <div class="stage-title">Home Base</div>
    <div class="stage-subtitle">Find out what's new.</div>
  </div>
</div>

<div class='container-fluid'>

  <div class="row new-features panel p-lg">

    <div class="col-sm-6">
      <h3>Todo List &nbsp;<span class="label label-info">New</span></h3>
      <p class="feature-info">
        The todos functionality allows a user to create and check off tasks while working in the app.
      </p>
      <div class="screenshot thumbnail">
        <img src="images/screenshots/Todos.png">
      </div>
    </div> <!-- col-sm-6 -->

    <div class="col-sm-6">
      <h3>Pig Latin Translation Projects &nbsp;<span class="label label-info">New</span></h3>
      <p class="feature-info">
        The translation projects allows you to organize content into projects, add content to those projects and then translate that content into Pig Latin.
      </p>
      <div class="screenshot thumbnail">
        <img src="images/screenshots/Translation-Projects.png">
      </div>
    </div> <!-- col-sm-6 -->

    <div class="col-sm-6">
      <h3>Accounts Interface &nbsp;<span class="label label-info">New</span></h3>
      <p class="feature-info">
        The Accounts interface has two levels of permission. The admin level is able to see the listing page, add, delete, and edit users. All other users are able to view and editor their own information. Newly added is the Account Image.
      </p>
      <div class="screenshot thumbnail">
        <img src="images/screenshots/Users-List.png">
      </div>
      <div class="screenshot thumbnail">
        <img src="images/screenshots/Users-Edit.png">
      </div>
    </div> <!-- col-sm-6 -->

    <div class="col-sm-6">
      <h3>Curl API Tool &nbsp;<span class="label label-info">New</span></h3>
      <p class="feature-info">
        The Curl API Tool is a form style interface that allows you to create and make API calls against the Compendium or other platform. The call is made using the <a href="https://github.com/mlintern/compendium-api">compendium-api</a> gem. The results page will also show you the corresponding curl command that can be executed.
      </p>
      <div class="screenshot thumbnail">
        <img src="images/screenshots/Curl-API.png">
      </div>
      <div class="screenshot thumbnail">
        <img src="images/screenshots/Curl-Results.png">
      </div>
    </div> <!-- col-sm-6 -->

  </div> <!-- row -->

</div> <!-- container-fluid -->