<div class="page-header">
  <h1>Home Base <br><small>Find out what's new.</small></h1>
</div>

<div class="row">

  <div class="col-sm-6">
    <h3>Accounts Interface</h3>
    <p class="feature-info">
      The Accounts interface has two levels of permission. The admin level is able to see the listing page, add, delete, and edit users. All other users are able to view and editor their own information.
    </p>
    <div class="screenshot thumbnail">
      <img src="images/screenshots/Users-List.png">
    </div>
    <div class="screenshot thumbnail">
      <img src="images/screenshots/Users-Edit.png">
    </div>
  </div> <!-- col-sm-6 -->

  <div class="col-sm-6">
    <h3>Compendium API Tool <span class="label label-info">New</span></h3>
    <p class="feature-info">
      The Compendium API Tool is a form style interface that allows you to create and make API calls against the Compendium platform. The call is made using the <a href="https://github.com/mlintern/compendium-api">compendium-api</a> gem. The results page will also show you the corresponding curl command that can be executed.
    </p>
    <div class="screenshot thumbnail">
      <img src="images/screenshots/Compendium-API-Config.png">
    </div>
    <div class="screenshot thumbnail">
      <img src="images/screenshots/Compendium-API-Results.png">
    </div>
  </div> <!-- col-sm-6 -->

</div> <!-- row -->