<div class="modal fade" id="info" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Information Modal</h4>
			</div>
			<div class="modal-body">
				<h3>Nretnil Editor</h3>
				<ul class="list-unstyled">
					<li>Installation Url:
						<ul>
							<li>POST https://app.nretnil.com/api/editor/install</li>
						</ul>
					</li>
					<li>Configuration Url:
						<ul>
							<li>GET https://app.nretnil.com/editor/configure</li>
						</ul>
					</li>
					<li>Editor Iframe Url:
						<ul>
							<li>GET https://app.nretnil.com/editor</li>
							<li>GET https://app.nretnil.com/editor/mce</li>
						</ul>
					</li>
				</ul>
				<h3>Pig Latin Translator</h3>
				<ul class="list-unstyled">
					<li>Installation Url:
						<ul>
							<li>POST https://app.nretnil.com/api/translator/install</li>
						</ul>
					</li>
					<li>Configuration Url:
						<ul>
							<li>GET https://app.nretnil.com/translator/configure</li>
						</ul>
					</li>
					<li>Uninstallation Url:
						<ul>
							<li>POST/PUT https://app.nretnil.com/api/translator/install</li>
						</ul>
					</li>
					<li>Create Project:
						<ul>
							<li>POST https://app.nretnil.com/api/translator/create_project</li>
						</ul>
					</li>
					<li>Get Open Projects:
						<ul>
							<li>GET https://app.nretnil.com/api/translator/get_open_projects</li>
						</ul>
					</li>
					<li>Add Source:
						<ul>
							<li>POST/PUT https://app.nretnil.com/api/translator/add_source</li>
							<li>POST/PUT https://app.nretnil.com/api/translator/add_source_auto_return</li>
						</ul>
					</li>
					<li>Project Canceled:
						<ul>
							<li>POST https://app.nretnil.com/api/translator/project_canceled</li>
						</ul>
					</li>
				</ul>
				<div style="height: 20px;"></div>
			</div>
		</div>
	</div>
</div>