<div class="modal fade" id="new" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">What's New</h4>
      </div>
      <div class="modal-body">
        <div class='container-fluid'>

          <div class="row new-features panel p-lg">

            <div class="col-sm-6">
              <h3>Todo List &nbsp;<small class="top d-inline-block"><span class="label label-info">New</span></small></h3>
              <p class="feature-info">
                The todos functionality allows a user to create and check off tasks while working in the app.
              </p>
              <div class="screenshot thumbnail">
                <img src="/images/screenshots/todos.jpg">
              </div>
            </div> <!-- col-sm-6 -->

            <div class="col-sm-6">
              <h3>Pig Latin Translation Projects &nbsp;<small class="top d-inline-block"><span class="label label-info">New</span></small></h3>
              <p class="feature-info">
                The translation projects allows you to organize content into projects, add content to those projects and then translate that content into Pig Latin.
              </p>
              <div class="screenshot thumbnail">
                <img src="/images/screenshots/pig_latin_translator.jpg">
              </div>
            </div> <!-- col-sm-6 -->

            <div class="col-sm-6">
              <h3>Accounts Interface &nbsp;<small class="top d-inline-block"><span class="label label-info">New</span></small></h3>
              <p class="feature-info">
                The Accounts interface has two levels of permission. The admin level is able to see the listing page, add, delete, and edit users. All other users are able to view and editor their own information. Newly added is the Account Image.
              </p>
              <div class="screenshot thumbnail">
                <img src="/images/screenshots/account_list.jpg">
              </div>
              <div class="screenshot thumbnail">
                <img src="/images/screenshots/account_edit.jpg">
              </div>
            </div> <!-- col-sm-6 -->

            <div class="col-sm-6">
              <h3>Curl API Tool &nbsp;<small class="top d-inline-block"><span class="label label-info">New</span></small></h3>
              <p class="feature-info">
                The Curl API Tool is a form style interface that allows you to create and make API calls against the Compendium or other platform. The call is made using the <a href="https://github.com/mlintern/compendium-api">compendium-api</a> gem. The results page will also show you the corresponding curl command that can be executed.
              </p>
              <div class="screenshot thumbnail">
                <img src="/images/screenshots/curl_api.jpg">
              </div>
              <div class="screenshot thumbnail">
                <img src="/images/screenshots/curl_results.jpg">
              </div>
            </div> <!-- col-sm-6 -->

            <div class="col-sm-6">
              <h3>File Upload &nbsp;<small class="top d-inline-block"><span class="label label-info">New</span></small></h3>
              <p class="feature-info">
                The file Upload functionality.  Allows user to upload files and use them for profile or other applications.
              </p>
              <div class="screenshot thumbnail">
                <img src="/images/screenshots/file_upload.jpg">
              </div>
              <div class="screenshot thumbnail">
                <img src="/images/screenshots/files.jpg">
              </div>
            </div> <!-- col-sm-6 -->

            <div class="col-sm-6">
              <h3>API Utilities &nbsp;<small class="top d-inline-block"><span class="label label-info">New</span></small></h3>
              <p class="feature-info">
                The API utitlies included a data and word genterators as well as password, passphrase and uuid generators.
              </p>
              <div class="screenshot thumbnail">
                <img src="/images/screenshots/api_1.jpg">
              </div>
              <div class="screenshot thumbnail">
                <img src="/images/screenshots/api_2.jpg">
              </div>
            </div> <!-- col-sm-6 -->

          </div> <!-- row new-features panel p-lg -->

        </div> <!-- container-fluid -->
      </div>
    </div>
  </div>
</div>
