.alta-navbar {
  margin-bottom: 0;

  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-header {
    padding: 0 10px 0;
    @media (max-width: $grid-float-breakpoint-max) {
      padding: 0;
    }

    .navbar-brand {
      @media (max-width: $grid-float-breakpoint-max) {
        padding-top: 15px;
      }
    }
  }

  .navbar-toggle {
    padding: 0;
    font-size: 1.5em;
    color: $link-color;
  }

  .navbar-collapse {
    padding: 0 10px 0;
    background-color: $grey-3;
    margin-top: 0;
    box-shadow: 0 3px 4px rgba(0,0,0,0.15);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    max-height: 400px; 

    @media (max-width: $grid-float-breakpoint-max) {
      border-radius: 0;
      border-bottom: solid 1px $link-color; 
    }

    .navbar-nav {
      margin: 0px -10px;
      @media (min-width: $grid-float-breakpoint-max) {
        margin: 0;
      }

      > li {
        @media (max-width: $grid-float-breakpoint-max) {
          border-top: solid 1px; 
        }
      }

      > .active > a {
        &,
        &:hover,
        &:focus {
          box-shadow: inset 0px -4px $navbar-default-link-active-color;
          @media (max-width: $grid-float-breakpoint-max) {
            box-shadow: inset 4px 0px $navbar-default-link-active-color;
          }
        }
      }

      .left-nav-hidden,
      .right-nav-hidden {
        @media (min-width: $grid-float-breakpoint-max) {
          display: none;
        }
      }
    }
  }

  .nav-avatar { 

    a {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    @media (max-width: $grid-float-breakpoint-max) {
      display: none;
    }
  }

  .navbar-brand {

    > img {
      position: relative;
      top: -1px;
      display: inline-block;
      width: 20px;
      @media (max-width: $grid-float-breakpoint-max) {
        top: -2px;
        width: 21px;
      }
    }

    .fa {
      @media (max-width: $grid-float-breakpoint-max) {
        display: none;
      }
    }

  }
}