<div style="position: absolute; top: 0; right: 0; left: 0; bottom: 0;">
	<iframe src="/editor/mce" style="position: absolute; top: 20%; left: 20%; width: 60%; height: 50%; border: solid 2px green;"></iframe>
</div>

<script>
	var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
	var eventer = window[eventMethod];
	var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";

	// Listen to message from child window
	eventer(messageEvent,function(e) {
		var key = e.message ? "message" : "data";
		var data = e[key];
		//run function//
		console.debug(e);
		console.debug(data);
	},false);
</script>