<div class="editor-container">
	<div class="tinymce-editor-header clearfix">
		<div class="pull-left">TinyMCE WYSIWYG</div>
		<button class="btn btn-tiny btn-success btn-sync-mce pull-right">Sync</button>
	</div>
	<div id='mce-editor' class="editor"></div>
</div>