<div class="editor-container">
	<div class="tinymce-editor-header clearfix">
		<div class="pull-left">TinyMCE WYSIWYG</div>
		<button class="btn btn-tiny btn-success btn-sync-mce pull-right">Sync</button>
		<button class="updated-alert btn btn-warning btn-tiny pull-right btn-sync-mce">Unsynced Changes</button>
	</div>
	<div id='mce-editor' class="editor"></div>
</div>

<script>
 var body = "<% if !post.nil? %><%= post['body'] %><% end %>";
 var decoded = $('<div/>').html(body).text();
	$('#mce-editor').html(decoded);
</script>