<div class="page-header">
  <h1>Curl API Results</h1>
</div>

<div>
  <h3>Curl Command</h3>
  <pre><%= curl_call %></pre>
</div>

<div>
  <h3>Results</h3>
  <pre class="call-results"><%= JSON.pretty_generate(result) %></pre>
</div>