<div>
  <p>Welcome to NRETNIL, <%= user[:name] %>!</p>
  <p>Your username is: <%= user[:username] %></p>
  <p>Your password is: <%= user[:password] %></p>
  <p><a href="http://app.nretnil.com">Login Here!</a></p>
</div>
