// Grid Break Points
$sm-width: 540px;
$md-width: 720px;
$lg-width: 960px;
$xl-width: 1140px;

// Colors
$active-blue: #2457B0;

$menu-background: #313334;
$menu-active-background: #222324;
$menu-link: #C0C3C7;
$menu-active-link: #FFFFFF;

$image-border: #E3E8EC;