<ul class="nav nav-tabs">
  <li> <a href="/accounts"><i class="fa fa-list"></i> List</a></li>
  <li> <a href="/accounts/new"><i class="fa fa-plus"></i> New</a></li>
  <li class="active"> <a href="/accounts/edit/<%= current_user.id %>"><i class="fa fa-edit"></i> Edit</a></li>
</ul>
<div class="tabs-content">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
		  <% form_for :account, url(:accounts, :update, :id => @account.id), :method => :put, :class => 'form-horizontal' do |f| %>
		    <%= erb :"accounts/form", :layout => false,  :locals => { :f => f, 'user' => account } %>
		  <% end %>
		</div>
  </div>
</div>
