<fieldset class="control-group ">
  <label for="account_username" class="control-label">Username: </label>
  <div class="controls">
    <input type="text" name="account[username]" value="<%= user.username %>" id="account_username" class="form-control input-xlarge input-with-feedback" autofocus="autofocus">
  </div>
</fieldset>
<% if permission_check('admin',false) %>
<fieldset class="control-group">
  <div class="checkbox-switch m-top-lg">
    <div class="switch">
      <input type="checkbox" name="account[status]" value="1" <% if user.active? %>checked<%end%>/>
      <label>
        <i class="fa fa-check"></i>
        <i class="fa fa-remove"></i>
        <div class="switch-handle"></div>
      </label>
    </div>
    <label class="switch-label">Active <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="Set user status."></i></label>
  </div>
</fieldset>
<% end %>
<fieldset class="control-group ">
  <label for="account_name" class="control-label">Name: </label>
  <div class="controls">
    <input type="text" name="account[name]" value="<%= user.name %>" id="account_name" class="form-control input-xlarge input-with-feedback">
  </div>
</fieldset>
<fieldset class="control-group ">
  <label for="account_surname" class="control-label">Surname: </label>
  <div class="controls">
    <input type="text" name="account[surname]" value="<%= user.surname %>" id="account_surname" class="form-control input-xlarge input-with-feedback">
  </div>
</fieldset>
<fieldset class="control-group ">
  <label for="account_email" class="control-label">Email: </label>
  <div class="controls">
    <input type="text" name="account[email]" value="<%= user.email %>" id="account_email" class="form-control input-xlarge input-with-feedback">
  </div>
</fieldset>
<fieldset class="control-group ">
  <label for="account_password" class="control-label">Password: </label>
  <div class="controls">
    <input type="password" name="account[password]" id="account_password" class="form-control input-xlarge input-with-feedback">
  </div>
</fieldset>
<fieldset class="control-group ">
  <label for="account_password_confirmation" class="control-label">Password confirmation: </label>
  <div class="controls">
    <input type="password" name="account[password_confirmation]" id="account_password_confirmation" class="form-control input-xlarge input-with-feedback">
  </div>
</fieldset>
<% if permission_check('admin',false) %>
<fieldset class="control-group ">
  <label for="account_role" class="control-label">Roles: </label>
  <div class="controls m-top-md">
    <div class="checkbox-switch m-top-md">
      <div class="switch">
        <input type="checkbox" name="account[role][]" value="user" <% if user.role["user"] %>checked<%end%>/>
        <label>
          <i class="fa fa-check"></i>
          <i class="fa fa-remove"></i>
          <div class="switch-handle"></div>
        </label>
      </div>
      <label class="switch-label">user <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="Turn on user role."></i></label>
    </div>
    <div class="checkbox-switch m-top-md">
      <div class="switch">
        <input type="checkbox" name="account[role][]" value="admin" <% if user.role["admin"] %>checked<%end%>/>
        <label>
          <i class="fa fa-check"></i>
          <i class="fa fa-remove"></i>
          <div class="switch-handle"></div>
        </label>
      </div>
      <label class="switch-label">admin <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="Turn on admin role."></i></label>
    </div>
    <div class="checkbox-switch m-top-md">
      <div class="switch">
        <input type="checkbox" name="account[role][]" value="curl" <% if user.role["curl"] %>checked<%end%>/>
        <label>
          <i class="fa fa-check"></i>
          <i class="fa fa-remove"></i>
          <div class="switch-handle"></div>
        </label>
      </div>
      <label class="switch-label">curl <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="Turn on curl role."></i></label>
    </div>
    <div class="checkbox-switch m-top-md">
      <div class="switch">
        <input type="checkbox" name="account[role][]" value="translate" <% if user.role["translate"] %>checked<%end%>/>
        <label>
          <i class="fa fa-check"></i>
          <i class="fa fa-remove"></i>
          <div class="switch-handle"></div>
        </label>
      </div>
      <label class="switch-label">translate <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="Turn on tranlate role."></i></label>
    </div>
  </div>
</fieldset>
<% end %>


<div class="form-actions">
  <input type="submit" value="Save" class="btn btn-primary user_save">
  &nbsp;
  <% if permission_check('admin',false) %>
  <input type="submit" value="Save and continue" class="btn btn-info user_save_and_continue" name="save_and_continue">
  &nbsp;
  <% end %>
  <a class="btn btn-default user_cancel" href="/accounts">Cancel</a>
</div>