<div class="page-header">
  <h1>Account Creator <small>Create new account</small></h1>
</div>

<%= erb :"accounts/tabs", :layout => false, :locals => { 'user' => account || nil, 'page' => "new" } %>
<div class="tabs-content">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<% form_for :account, url(:accounts, :create), :class => 'form-horizontal' do |f| %>
				<%= erb :"accounts/form", :layout => false,  :locals => { :f => f, 'user' => account } %>
		  <% end %>
		</div>
  </div>
</div>
